@charset "utf-8";
/* CSS Document */
html{/*overflow: auto; overflow-x:hidden;*/overflow: hidden;}
body{margin:0px;padding:0px;background-color:#c5174c;}
ul,li{list-style-type:none;margin:0px;padding:0px;}
.clear{clear:both;}
.fl_left{ float:left;}
.fl_right{ float:right;}
.right{right:0;}
.center{text-align:center;}
.pos_absol{position:absolute;}
.w_half{width:50%;}

/***lantern***/
.cloudbg{ position:absolute;top:0;left:50%;margin-left:-1000px; width:2000px;height:950px; z-index:-999;padding:0px;background:#fedfcd url(../images/cloud.png) repeat 0 0 ; }
.lanternsbg{position:absolute;top:-11%;margin:0 auto;/*background:url(../images/bg-curtains-animotion.gif) no-repeat 0 0;*/width:1000px;height:763px;}

#section_lan01{position: absolute;top: 0; z-index:999;left: 50%;margin-left:0px;width: 150px;height: 150px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 150px 150px;-webkit-animation: sdb_lan01 5s infinite;animation: sdb_lan01 5s infinite;}
@-webkit-keyframes sdb_lan01 {
0% {-webkit-transform: rotate(15deg) translate(0, 75px);}
50% {-webkit-transform: rotate(-5deg) translate(0px, 75px);}
100% {-webkit-transform: rotate(15deg) translate(0px, 75px);}
}
@keyframes sdb_lan01 {
0% {transform: rotate(15deg) translate(0, 75px);}
50% {transform: rotate(-5deg) translate(0px, 75px);}
100% {transform: rotate(15deg) translate(0px, 75px);}
}

#section_lan02{position: absolute;top: 0;left: 50%;z-index:998;margin-left:100px;width: 123px;height: 123px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 123px 123px;-webkit-animation: sdb_lan02 5s infinite;animation: sdb_lan02 5s infinite;}
@-webkit-keyframes sdb_lan02 {
0% {-webkit-transform: rotate(-10deg) translate(0, 78px); }
70% {-webkit-transform: rotate(15deg) translate(0px, 78px);}
100% {-webkit-transform: rotate(-10deg) translate(0, 78px);}
}
@keyframes sdb_lan02 {
0% {transform: rotate(-10deg) translate(0, 78px);}
50% {transform: rotate(15deg) translate(0px, 78px);}
100% {transform: rotate(-10deg) translate(0px, 78px);}
}

#section_lan03{position: absolute;top: 0; z-index:997;left: 50%;margin-left:185px;width: 100px;height: 100px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 100px 100px;-webkit-animation: sdb_lan03 5s infinite;animation: sdb_lan03 5s infinite;}
@-webkit-keyframes sdb_lan03 {
0% {-webkit-transform: rotate(15deg) translate(0, 80px);}
50% {-webkit-transform: rotate(-10deg) translate(0px, 80px);}
100% {-webkit-transform: rotate(15deg) translate(0px, 80px);}
}
@keyframes sdb_lan03 {
0% {transform: rotate(15deg) translate(0, 80px);}
50% {transform: rotate(-5deg) translate(0px, 80px);}
100% {transform: rotate(15deg) translate(0px, 80px);}
}

#section_lan04{position: absolute;top: 0; z-index:997;left: 50%;margin-left:760px;width: 100px;height: 100px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 100px 100px;-webkit-animation: sdb_lan04 5s infinite;animation: sdb_lan04 5s infinite;}
@-webkit-keyframes sdb_lan04 {
0% {-webkit-transform: rotate(-10deg) translate(0, 80px);}
50% {-webkit-transform: rotate(15deg) translate(0px, 80px);}
100% {-webkit-transform: rotate(-10deg) translate(0px, 80px);}
}
@keyframes sdb_lan04 {
0% {transform: rotate(-10deg) translate(0, 80px);}
50% {transform: rotate(15deg) translate(0px, 80px);}
100% {transform: rotate(-10deg) translate(0px, 80px);}
}

#section_lan05{position: absolute;top: 0; z-index:997;left: 50%;margin-left:820px;width: 123px;height: 123px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 123px 123px;-webkit-animation: sdb_lan05 5s infinite;animation: sdb_lan05 5s infinite;}
@-webkit-keyframes sdb_lan05 {
0% {-webkit-transform: rotate(15deg) translate(0, 78px);}
50% {-webkit-transform: rotate(-10deg) translate(0px, 78px);}
100% {-webkit-transform: rotate(15deg) translate(0px, 78px);}
}
@keyframes sdb_lan05 {
0% {transform: rotate(15deg) translate(0, 78px);}
50% {transform: rotate(-10deg) translate(0px, 78px);}
100% {transform: rotate(15deg) translate(0px, 78px);}
}

#section_lan06{position: absolute;top: 0; z-index:999;left: 50%;margin-left:890px;width: 150px;height: 150px;background:url(../images/bg-curtain-light.png) no-repeat left 0 / 150px 150px;-webkit-animation: sdb_lan06 5s infinite;animation: sdb_lan06 5s infinite;}
@-webkit-keyframes sdb_lan06 {
0% {-webkit-transform: rotate(-10deg) translate(0, 75px);}
50% {-webkit-transform: rotate(15deg) translate(0px, 75px);}
100% {-webkit-transform: rotate(-10deg) translate(0px, 75px);}
}
@keyframes sdb_lan06 {
0% {transform: rotate(-5deg) translate(0, 75px);}
50% {transform: rotate(15deg) translate(0px, 75px);}
100% {transform: rotate(-5deg) translate(0px, 75px);}
}
/***lantern over***/

.curtainsbg{position:absolute;left:50%;top:0;margin-left:-1000px;background:url(../images/bg-curtains-animotion.gif) no-repeat 0 0;width:2000px;height:763px;}
.lightsbg{position:absolute;left:50%;top:0;margin-left:-1000px;background:url(../images/bg-curtains-lights.png) no-repeat 0 0;width:2000px;height:763px;}
.prizebg{position:absolute;left:50%;top:0;margin-left:-1000px;background:url(../images/bg-door-flower.png) no-repeat 0 0;width:2000px;height:953px;}
.main{width:1000px;margin:0 auto;padding:0px;clear:both;}
.spring-winprize{background:url(../images/spring-winprize.png) no-repeat center 80px;width:1000px;height:360px;}

/***prize number***/
.winpri-box-bg{background:url(../images/box-bg-animotion.gif) no-repeat 98px center;width:1000px;height:201px;}
.winpri-simp-box-bg{background:url(../images/box-simple-bg.png) no-repeat center center;width:1000px;height:76px;}
.w-level{color:#ffffff;font:normal 34px/72px "Microsoft Yahei";margin-top:25px;}
.w-num-total{ overflow:hidden; width:530px; margin:0 auto;padding-left:8px; margin-top:8px;}
.w-num-blackbg{ background-color:#181818;color:#ffffff; width:20px; width:46px;height:72px; margin:1px;font:normal 64px/70px "Microsoft Yahei";-moz-border-radius: 3px;/* Gecko browsers */-webkit-border-radius: 3px;   /* Webkit browsers */ border-radius:3px;/* W3C syntax */}

/***bottom flower***/
.bot-drum{ position:absolute; z-index:10001;cursor:pointer;background:url(../images/bg-drum.png) no-repeat center 28px; width:1000px; height:358px;}
.bot-flower{position:relative; /*z-index:10;*/overflow:hidden; height:620px;  }
.section_flower{position: absolute;top: 2%; z-index:-10;left: 50%;margin-left:-304px;width: 608px;height: 608px;background:url(../images/bg-flower.png) no-repeat left 0 / 608px 608px;-webkit-animation: flo_rot 185s linear infinite;animation: flo_rot 185s linear infinite;}
@-webkit-keyframes flo_rot {
0% {-webkit-transform:rotate(0deg); translate(0, 0px);}
100% {-webkit-transform:rotate(360deg); translate(0, 0px);}
}
@keyframes flo_rot {
0% {transform:rotate(0deg); translate(0, 0px);}
100% {transform:rotate(360deg); translate(0, 0px);}
}

.bot-flower-mid{/*position: absolute;left: 50%;margin-left:-304px;z-index:2; width: 608px;height: 608px;background:url(../images/bg-flower-center.png) repeat center center / 608px 608px;*/}
.section_flower_mid{position: absolute;top: 2%; z-index:-5;left: 50%;margin-left:-254px;width: 508px;height: 508px;background:url(../images/bg-flower-center.png) no-repeat left 0 / 508px 508px;-webkit-animation: flo_mid 20s linear infinite;animation: flo_mid 20s linear infinite;}
@-webkit-keyframes flo_mid {
0% {-webkit-transform: rotate(-15deg) translate(0, 0);}
30% {-webkit-transform: rotate(15deg) translate(0px, 10px);}
100% {-webkit-transform: rotate(-15deg) translate(0, 0px);}
}
@keyframes flo_mid {
0% {transform: rotate(-15deg) translate(0, 0);}
30% {transform: rotate(15deg) translate(0px, 10px);}
100% {transform: rotate(-15deg) translate(0px, 0px);}
}

/***hammer***/
#section01{position: absolute;top: 2%;left: 50%;margin-left:-110px;width: 95px;height: 66px;background:url(../images/hummer-left.png) no-repeat left 0;-webkit-animation: sdb01 1.5s infinite;animation: sdb01 1.5s infinite;}
@-webkit-keyframes sdb01 {
0% {-webkit-transform: rotate(-30deg) translate(0, 0);opacity:0.75;}
30% {-webkit-transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
100% {-webkit-transform: rotate(-30deg) translate(0, 0px);opacity: 0.75;}
}
@keyframes sdb01 {
0% {transform: rotate(-30deg) translate(0, 0);opacity: 0.75;}
30% {transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
100% {transform: rotate(-30deg) translate(0px, 0px);opacity: 0.75;}
}

#section02{position: absolute;top: 1%;left: 50%;margin-left:20px;width: 95px;height: 66px;background:url(../images/hummer-right.png) no-repeat left 0;-webkit-animation: sdb02 1.5s infinite;animation: sdb02 1.5s infinite;}
@-webkit-keyframes sdb02 {
0% {-webkit-transform: rotate(0deg) translate(0, 10px);opacity:1; }
70% {-webkit-transform: rotate(30deg) translate(0px, 10px);opacity: 0.75;}
100% {-webkit-transform: rotate(0deg) translate(0, 10px);opacity: 1;}
}
@keyframes sdb02 {
0% {transform: rotate(0deg) translate(0, 10px);opacity: 1;}
70% {transform: rotate(30deg) translate(0px, 0px);opacity: 0.75;}
100% {transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
}

#section03{position: absolute;top: 2%;left: 50%;margin-left:-110px;width: 95px;height: 66px;background:url(../images/hummer-left.png) no-repeat left 0;-webkit-animation: sdb01 0.15s infinite;animation: sdb01 0.15s infinite;}
@-webkit-keyframes sdb01 {
0% {-webkit-transform: rotate(-30deg) translate(0, 0);opacity:0.75;}
30% {-webkit-transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
100% {-webkit-transform: rotate(-30deg) translate(0, 0px);opacity: 0.75;}
}
@keyframes sdb01 {
0% {transform: rotate(-30deg) translate(0, 0);opacity: 0.75;}
30% {transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
100% {transform: rotate(-30deg) translate(0px, 0px);opacity: 0.75;}
}

#section04{position: absolute;top: 2%;left: 50%;margin-left:20px;width: 95px;height: 66px;background:url(../images/hummer-right.png) no-repeat left 0;-webkit-animation: sdb02 0.15s infinite;animation: sdb02 0.15s infinite;}
@-webkit-keyframes sdb02 {
0% {-webkit-transform: rotate(0deg) translate(0, 10px);opacity:1; }
70% {-webkit-transform: rotate(30deg) translate(0px, 10px);opacity: 0.75;}
100% {-webkit-transform: rotate(0deg) translate(0, 10px);opacity: 1;}
}
@keyframes sdb02 {
0% {transform: rotate(0deg) translate(0, 10px);opacity: 1;}
70% {transform: rotate(30deg) translate(0px, 0px);opacity: 0.75;}
100% {transform: rotate(0deg) translate(0px, 10px);opacity: 1;}
}

/***new text***/
.demo {position: absolute;/*top: 50%;left: 50%;*/z-index: 2; margin:230px 0 0 340px;}
#section09::before {position: absolute;top: 0;left: 0;opacity: 1;z-index: -1;content: '';width: 100px;height: 100px; background:url(../images/spring-winprize-animotiom.png) no-repeat 0 0 / 100px 100px;-webkit-animation: sdb09 3s linear infinite;animation: sdb09 3s linear infinite;}
@-webkit-keyframes sdb09 {
0% {-webkit-opacity:.3;}
50% {-webkit-transform: rotate(0deg) translate(-0px, -0px);background:url(../images/spring-winprize-animotiom.png) no-repeat 0 0 / 100px 100px;opacity: 1;}
100% {-webkit-opacity:.5;}
}
@keyframes sdb09 {
0% {opacity:.3;}
50% {transform: rotate(0deg) translate(-0px, -0px);background:url(../images/spring-winprize-animotiom.png) no-repeat 0 0 / 100px 100px;opacity: 1;}
100% {opacity:.5;}
}

/***flymenu 1***/
.flymenu{position: absolute;z-index:999; width:1040px; left:50%; margin-left:-520px;height:800px; overlow:hidden;}
.f_m_bg{color:#1e2747;background:url(../images/fly_menu_bg.png) no-repeat 0 0 / 176px 116px;width:176px;height:116px;}
.f_name{color:#2a3862;font:bold 15px/12px 'microsoft Yahei';padding-top:28px;}
.section_fly01{ z-index:999;margin:-24px 0 0 18px;width:62px;height: 47px;background:url(../images/fly_plumage.png) no-repeat left 0 / 176px 47px;-webkit-animation: fly01 1s infinite;animation: fly01 1s infinite;}
@-webkit-keyframes fly01 {
0% {-webkit-transform: rotate(15deg) translate(-25px, 0px);}
50% {-webkit-transform: rotate(-15deg) translate(-25px, 0px);}
100% {-webkit-transform: rotate(15deg) translate(-25px, 0px);}
}
@keyframes fly01 {
0% {transform: rotate(15deg) translate(-25px, 0px);}
50% {transform: rotate(-15deg) translate(-25px, 0px);}
100% {transform: rotate(15deg) translate(-25px, 0px);}
}
.section_fly02{ z-index:999;margin:-24px 0 0 18px;width:62px;height: 47px;background:url(../images/fly_plumage.png) no-repeat right 0 / 176px 47px;-webkit-animation: fly02 1s infinite;animation: fly02 1s infinite;}
@-webkit-keyframes fly02 {
0% {-webkit-transform: rotate(-15deg) translate(25px, 0px);}
50% {-webkit-transform: rotate(15deg) translate(25px, 0px);}
100% {-webkit-transform: rotate(-15deg) translate(25px, 0px);}
}
@keyframes fly02 {
0% {transform: rotate(-15deg) translate(25px, 0px);}
50% {transform: rotate(15deg) translate(25px, 0px);}
100% {transform: rotate(-15deg) translate(25px, 0px);}
}

.section_fly03{ z-index:999;margin:-24px 0 0 18px;width:62px;height: 47px;background:url(../images/fly_plumage.png) no-repeat left 0 / 176px 47px;-webkit-animation: fly03 1s infinite;animation: fly03 1s infinite;}
@-webkit-keyframes fly03 {
0% {-webkit-transform: rotate(-15deg) translate(-25px, 0px);}
50% {-webkit-transform: rotate(15deg) translate(-25px, 0px);}
100% {-webkit-transform: rotate(-15deg) translate(-25px, 0px);}
}
@keyframes fly03 {
0% {transform: rotate(-15deg) translate(-25px, 0px);}
50% {transform: rotate(15deg) translate(-25px, 0px);}
100% {transform: rotate(-15deg) translate(-25px, 0px);}
}
.section_fly04{ z-index:999;margin:-24px 0 0 18px;width:62px;height: 47px;background:url(../images/fly_plumage.png) no-repeat right 0 / 176px 47px;-webkit-animation: fly04 1s infinite;animation: fly04 1s infinite;}
@-webkit-keyframes fly04 {
0% {-webkit-transform: rotate(15deg) translate(25px, 0px);}
50% {-webkit-transform: rotate(-15deg) translate(25px, 0px);}
100% {-webkit-transform: rotate(15deg) translate(25px, 0px);}
}
@keyframes fly04 {
0% {transform: rotate(15deg) translate(25px, 0px);}
50% {transform: rotate(-15deg) translate(25px, 0px);}
100% {transform: rotate(15deg) translate(25px, 0px);}
}
/***flymenu 2***/
.section_f_tol01{ z-index:999;width:176px;height: 116px;/*margin:-24px 0 0 18px;background:url(../images/fly_plumage.png) no-repeat left 0 / 176px 47px;*/-webkit-animation: tol012 1s infinite;animation: tol012 1s infinite;}
@-webkit-keyframes tol012 {
0% {-webkit-transform: rotate(0deg) translate(0px, 2px);}
50% {-webkit-transform: rotate(0deg) translate(0px, -2px);}
100% {-webkit-transform: rotate(0deg) translate(0px, 2px);}
}
@keyframes tol012 {
0% {transform: rotate(0deg) translate(0px, 2px);}
50% {transform: rotate(0deg) translate(0px, -2px);}
100% {transform: rotate(0deg) translate(0px, 2px);}
}
.section_f_tol02{ z-index:999;width:176px;height: 116px;/*margin:-24px 0 0 18px;background:url(../images/fly_plumage.png) no-repeat right 0 / 176px 47px;*/-webkit-animation: tol02 1s infinite;animation: tol02 1s infinite;}
@-webkit-keyframes tol02 {
0% {-webkit-transform: rotate(0deg) translate(0px, -2px);}
50% {-webkit-transform: rotate(0deg) translate(0px, 2px);}
100% {-webkit-transform: rotate(0deg) translate(0px, -2px);}
}
@keyframes tol02 {
0% {transform: rotate(0deg) translate(0px, -2px);}
50% {transform: rotate(0deg) translate(0px, 2px);}
100% {transform: rotate(0deg) translate(0px, -2px);}
}


/***fly lacatiom***/
.f_locat_l_01{top:12%;left:4%;}
.f_locat_r_01{top:12%;right:4%;}
.f_locat_02{top:27%;}
.f_locat_03{top:42%;}
.f_locat_l_04{top:57%;left:4%;}
.f_locat_r_04{top:57%;right:4%;}
.f_locat_l_05{top:47.5%;left:17.5%;}
.f_locat_r_05{top:47.5%;right:18%;}


/* 数字轮转 */
.w-num-blackbg div{ display: block; }
@keyframes num_rotate {
	from {margin-top:-600px;}
	to {margin-top: 25px}
}
