<!--<%@ page contentType="text/html; charset=utf-8" %>-->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="../data/css/cj_pop-win-prize.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="message" id="maskid" >
	<div class="modal">
    	<!--add-->
		<div class="modal-bg bg-left"></div>
        <div class="modal-bg bg-right"></div><!--&times;-->
        <!--add over-->
		<button class="close" onclick="document.getElementById('maskid').style.display='none'; "><h1 style="display:block; margin-top:0px;"><img src="../data/images/close.png" width="32" height="32"></h1>
		</button>
		<div class="top-mid-bg"><font class="top-mid-txt">恭喜以下五等奖获得者</font></div>
		<div class="modal-body">
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>张超<span class="com_name">银卡通</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>王爱云<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>朱伟丽<span class="com_name">久彰</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>穆建义<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>周辉<span class="com_name">金卡尹昊麦申</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>韩美美<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>邹德帝<span class="com_name">银卡通上海营业部</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>刘楠楠<span class="com_name">久彰</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>潘晓龙<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>肖云星<span class="com_name">银卡通上海营业部</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>林海洋<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>夏林夕<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>陈伟姜<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>豆丁<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>玛丽苏<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>李青<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>毛豆豆<span class="com_name">银卡通&amp;上营</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>蒋大为<span class="com_name">麦申</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>宋诗诗<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>沈林<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>孙莉<span class="com_name ">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>周漫<span class="com_name">银卡通&amp;上营</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>张健<span class="com_name">麦申</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>刘晓燕<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>江豫东<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <div class="dot_line fl_left " ></div>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>张超<span class="com_name">银卡通</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>王爱云<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>朱伟丽<span class="com_name">久彰</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>穆建义<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>周辉<span class="com_name">金卡</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>韩美美<span class="com_name">斯玛特</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>邹德帝<span class="com_name">金卡</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>刘楠楠<span class="com_name">银卡通&amp;电商</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>潘晓龙<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>肖云星<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>孙莉<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>周漫<span class="com_name">银卡通&amp;上营</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>张健<span class="com_name">麦申</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>刘晓燕<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>江豫东<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>林海洋<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>夏林夕<span class="com_name">银卡通&amp;上营</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>陈伟姜<span class="com_name">麦申</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>豆丁<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>玛丽苏<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
            <ul>
                <li>
                	<div class="person_box fl_left"><strong>李青<span class="com_name">尹昊</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>毛豆豆<span class="com_name">银卡通&amp;上营</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>蒋大为<span class="com_name">麦申</span></strong><dt>15901946122</dt></div>  
                    <div class="person_box fl_left"><strong>宋诗诗<span class="com_name">巍康&amp;网付</span></strong><dt>15901946122</dt></div> 
                    <div class="person_box fl_left"><strong>沈林<span class="com_name">讯汇</span></strong><dt>15901946122</dt></div> 
                </li>
            </ul>
        </div>
		</div>
	</div>
</div>
<input type="button" value="showDiv" onclick="showDiv();" />
<script>
function showDiv(){
	document.getElementById("maskid").style.display="block";
}
</script>
</body>
</html>