<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>抽奖</title>
<link href="../data/css/cj_globel.css" rel="stylesheet" type="text/css">
</head>

<body>
<script src="../data/js/prefixfree.min.js" type="text/javascript"></script>
<ul class="prizebg">
	<li class="lightsbg">
    	<div class="curtainsbg">
            <div class="main">
                <div class="spring-winprize">
                	<section id="section09" class="demo">
                    </section>
                </div>
                <div class="winpri-box-bg center">
                    <font class="w-level ">五等奖</font>
                    <div class="clear"></div>
                    <div class="w-num-total">
                        <div class="fl_left w-num-blackbg">1</div>
                        <div class="fl_left w-num-blackbg">3</div>
                        <div class="fl_left w-num-blackbg">8</div>
                        <div class="fl_left w-num-blackbg">0</div>
                        <div class="fl_left w-num-blackbg">0</div>
                        <div class="fl_left w-num-blackbg">1</div>
                        <div class="fl_left w-num-blackbg">3</div>
                        <div class="fl_left w-num-blackbg">8</div>
                        <div class="fl_left w-num-blackbg">0</div>
                        <div class="fl_left w-num-blackbg">0</div>
                        <div class="fl_left w-num-blackbg">0</div>
                    </div>
                </div>
                <div class="bot-drum center">
                    	<section id="section01" class=" fl_left">
                        </section>
                        <section id="section02" class=" fl_left">
                        </section>
                </div>
                <div class="bot-flower">
                    <div class="blades">
                        <div class="vane1"></div>
                        <div class="vane2"></div>
                    </div>
                    <div class="bot-flower center"></div>
                </div>
            </div>
         </div>
    </li>
</ul>
</body>
</html>
