<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta content="telephone=no,email=no" name="format-detection" />
<title>登录</title>
<link rel="stylesheet" href="../data/css/base.css" type="text/css">
<link rel="stylesheet" href="../data/css/public.css" type="text/css">
</head>
<body class="login-bg">
    <div class="default"></div>
    <div class="login-head-logo">
    	<p class="load_big_tit size-xl center">欢迎登录 <span style="color:#ff962d;"> 杉德年会</span></p>
        
    </div>
	<div class="load-input">
		<input type="text" placeholder="" value="姓名" id="username" class="input loadinbg center" onfocus="this.value='';" onclick="this.value='';">
        <div class="load-inp-line"></div>
		<input type="tel" placeholder="" value="手机号" id="mobile" class="input loadinbg center" onfocus="this.value='';" onclick="this.value='';">
	</div>
	<div class="submit-btn" id="login">进入年会</div>
    <div class="login-head-logo center">
    	<img src="../data/images/ico-door.png" width="146" height="89">
    </div>
    <div class="genus_name" ><p class="genus center">杉德集团网络支付组</p></div>
<script src="../data/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../data/js/base.js"></script>
<script type="text/javascript" src="../data/js/service.js"></script>	
<script>
$('<img/>').load('../data/images/default-640-1136.jpg',function(){
	$('.default').html("");
	setTimeout(function () {
		$('.login-bg').show();
		$('.default').hide();
	}, 1500);
});
var reg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
$('#login').bind("click",function(){
	var mobile = $('#mobile').val();
	var username = $('#username').val();
	if(!reg.test(mobile)) {
		toastr['info']("请输入正确的手机号码！");
		return false;
	}
	if(username=='') {
		toastr['info']("请输入姓名！");
		return false;
	}
	var parpams = "\"phoneNumber\":\""+mobile+"\","+
					  "\"userName\":\""+username+"\","+
					  "\"type\":\"4\"";
	serviceAjax(parpams,"00050017",function(data){
		SD.cookie.put("openid", mobile, 30*24*60*60);
		SD.goUrl("index.html");
	});
});
</script>	
</body>
</html>