<!doctype html>
<html lang="zh-ch">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>杉德年会-停车</title>
	<link rel="stylesheet" href="../data/css/base.css" type="text/css">
	<link rel="stylesheet" href="../data/css/public.css" type="text/css">
</head>
<body class="body-bg">
<!--top-->
<script language="javascript" src="../data/js/header.js" id="headerScript" data-args="headername=泊车&headerbackurl=index.html"></script>
<!--top over-->
<div class="clear main_tit pos_relative">
	<div class="size-xxl">高平路灵石路<!--<span class="size-s marg_lef_1em">桌</span>--></div>
    <div class="clear">
    	<div class="fl_left">收费：5元/小时</div>
    </div>
</div>
<div class="clear">
	<div class="global-tit-trans"></div>
    <div class="global-titleb">雅悦新天地婚宴展会中心（详见示意图）</div>
</div>
<div class="global-navb height_whole parking-bg">
	<!-- <div style="background:url(/data/images/p.png) no-repeat 0 0 / 100%;width:100%; min-height:209px;clear:both;border:0;padding:0;margin:0;"></div> -->
	<div style="background:url(/data/images/p2.png) no-repeat 0 0 / 100%;width:100%; height:321px;border:0;padding:0;margin:0;"></div>
</div>
<!--footer-->
<script language="javascript" src="../data/js/footer.js" id="footerScript" data-args="selecttype=activity"></script>
<!--footer 结束-->
<script src="../data/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../data/js/base.js"></script>
<script type="text/javascript" src="../data/js/service.js"></script>
</body>
</html>