<!doctype html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>杉德年会-首页</title>
	<link rel="stylesheet" href="../data/css/base.css" type="text/css">
	<link rel="stylesheet" href="../data/css/public.css" type="text/css">
	<link rel="stylesheet" href="../data/css/index.css" type="text/css">
</head>
<body class="body-bg" style="overflow:hidden">
<!--top-->
<script language="javascript" src="../data/js/header.js" id="headerScript" data-args="headername=我的奖品&headerbackurl=index.html"></script>
<div class="clear main_tit">
	<div class="size-xxxl">四等<span class="size-s marg_lef_1em">奖</span></div>
    <div class="clear">
    	<div class="fl_left">恭喜中奖，猴年大吉！</div>
    </div>
</div>
<div class="clear">
	<div class="global-tit-trans"></div>
    <div class="global-titleb">领奖人较多时，请依次排队领奖哦~</div>
</div>
<div class="global-navb height_whole">
    <div class="code-bg">
    	<p class="center">速去领奖台炫出你的<span class="tit-code">二维码</span>吧！</p>
        <div class="qr-code"><img src="../data/images/qr-code.png" width="138" height="138"></div>
    </div>
</div>
<!--footer-->
<script language="javascript" src="../data/js/footer.js" id="footerScript" data-args="selecttype=index"></script>
<!--footer over-->
<script src="../data/js/zepto.min.js" type="text/javascript"></script>
<script src="../data/js/iscroll.js" type="text/javascript"></script>
<script type="text/javascript" src="../data/js/base.js"></script>
<script type="text/javascript" src="../data/js/service.js"></script>
<script>
SD.bandMoveHoverCss(document.getElementsByName("bandtouchhover"));
var currentPage = 1;
var nextpage = true;
function fmtRewardState(types){
	if(types=='5'){
		return "五等";
	}else if(types=='4'){
		return "四等";
	}else if(types=='3'){
		return "三等";
	}else if(types=='t12'){
		return "特等、一等，二等";
	}else if(types=='bt12'){
		return "补抽";
	}else if(types=='h'){
		return "欢乐";
	}
	
}
function pmtRewardState(types){
	if(types=='5'){
		return "picture5";
	}else if(types=='4'){
		return "picture4";
	}else if(types=='3'){
		return "picture3";
	}else if(types=='t12'){
		return "picture2";
	}else if(types=='bt12'){
		return "picture1";
	}else if(types=='h'){
		return "picture1";
	}
}
function fmtMobile(mobile){
	return mobile.substring(0,3)+"****"+mobile.substring(7,11);
}
function loadMsgList(retype){
	var parpams = "\"phoneNumber\":\""+openid+"\","+
				  "\"level\":\"\","+
				  "\"currentPage\":\""+currentPage+"\","+
				  "\"pageLine\":\"10\","+
				  "\"type\":\"5\"";
	serviceAjax(parpams,"00050019",function(data){
		var resultList = data.busiInfo.resultInfo;
		var appendhtml = "";
		for(var i = 0;i<resultList.length;i++){
			appendhtml+="<li>";
			appendhtml+="<p class=\"c-"+pmtRewardState(resultList[i].rewardState)+"\">"+fmtRewardState(resultList[i].rewardState)+"奖"+"</p>";
			appendhtml+="<a href=\"javascript:void(0)\">";
			appendhtml+="<p class=\"c-585858\">[恭喜]"+"手机号码："+fmtMobile(resultList[i].moible)+"&nbsp;&nbsp;&nbsp;&nbsp;"+resultList[i].company+"&nbsp;"+resultList[i].memname+"</p>";
			appendhtml+="<p class=\"c-cccccc\">请到领奖处领奖"+"</p>";
			/*appendhtml+="<p class=\"c-6e6e6e\">"+resultList[i].ctime+"</p>";*/
			appendhtml+="</a>";
			appendhtml+="</li>";
		}
		if(resultList.length==0){
			nextpage= false;
			$('#pullUp').hide();
		}
		if(currentPage==1){
			$('#msgid').html("");
		}
		if(resultList.length==0&&currentPage==1){
			$('#msgid').html("<li>暂时无中奖信息</li>");
		}else{
			$('#msgid').append(appendhtml);
		}
		$("#pullDownIcon").removeClass("lst_loading");
		$("#pullUpIcon").removeClass("lst_loading");
		if(retype=='yes'){
			myScroll.refresh();
		}
	});
}
loadMsgList();

var myScroll,
	pullDownEl, pullDownOffset,
	pullUpEl, pullUpOffset,
	generatedCount = 0;

function pullDownAction () {
	setTimeout(function () {
	   currentPage=1;
	   loadMsgList("yes");
    }, 1000);
	/*
	setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
		var el, li, i;
		el = document.getElementById('thelist');

		for (i=0; i<3; i++) {
			li = document.createElement('li');
			li.innerText = 'Generated row ' + (++generatedCount);
			el.insertBefore(li, el.childNodes[0]);
		}
		
		myScroll.refresh();		// Remember to refresh when contents are loaded (ie: on ajax completion)
	}, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
	*/
}

function pullUpAction () {
	if(nextpage){
		setTimeout(function () {
		   currentPage++;
		   loadMsgList("yes");
		}, 1000);
	}
	/*
	setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
		var el, li, i;
		el = document.getElementById('thelist');

		for (i=0; i<3; i++) {
			li = document.createElement('li');
			li.innerText = 'Generated row ' + (++generatedCount);
			el.appendChild(li, el.childNodes[0]);
		}
		
		myScroll.refresh();		// Remember to refresh when contents are loaded (ie: on ajax completion)
	}, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
	*/
}
var beginpointY =0;
function loaded() {
	pullDownEl = document.getElementById('pullDown');
	pullDownOffset = pullDownEl.offsetHeight;
	pullUpEl = document.getElementById('pullUp');	
	pullUpOffset = pullUpEl.offsetHeight;
	
	myScroll = new iScroll('wrapper', {
		useTransition: true,
		topOffset: pullDownOffset,
		onRefresh: function () {
			if (pullDownEl.className.match('loading ')) {
				pullDownEl.className = 'view_more';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
			} else if (pullUpEl.className.match('loading')) {
				pullUpEl.className = 'view_more';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
			}
		},
		onScrollMove: function () {
			//if(beginpointY<=150){
				//}else if ($('#msgid').height()-beginpointY<=30) {
					//console.log(this.y+"--"+(this.y < (this.maxScrollY - 20) && this.y>=-60 && !pullUpEl.className.match('flip'))+"-----"+(this.y>=-60)+"--"+this.y);
				if (this.y > 20 && !pullDownEl.className.match('flip')) {
					pullDownEl.className = 'flip view_more';
					pullDownEl.querySelector('.pullDownLabel').innerHTML = '释放立即刷新...';
					this.minScrollY = 0;
				} else if (this.y < 20 && pullDownEl.className.match('flip')) {
					pullDownEl.className = 'view_more';
					pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
					this.minScrollY = -pullDownOffset;
				}else if (this.y < (this.maxScrollY - 20) && this.y<=-60 && !pullUpEl.className.match('flip')) {
					pullUpEl.className = 'flip view_more';
					pullUpEl.querySelector('.pullUpLabel').innerHTML = '释放立即刷新...';
					this.maxScrollY = this.maxScrollY;
				} else if (this.y > (this.maxScrollY + 20) && this.y<=-60 && pullUpEl.className.match('flip')) {
					pullUpEl.className = 'view_more';
					pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多...';
					this.maxScrollY = pullUpOffset;
				}
			//}
			/*
			if (this.y > 5 && !pullDownEl.className.match('flip')) {
				pullDownEl.className = 'flip';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Release to refresh...';
				this.minScrollY = 0;
			} else if (this.y < 5 && pullDownEl.className.match('flip')) {
				pullDownEl.className = '';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Pull down to refresh...';
				this.minScrollY = -pullDownOffset;
			} else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
				pullUpEl.className = 'flip';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Release to refresh...';
				this.maxScrollY = this.maxScrollY;
			} else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
				pullUpEl.className = '';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Pull up to load more...';
				this.maxScrollY = pullUpOffset;
			}*/
		},
		onScrollEnd: function () {
			if (pullDownEl.className.match('flip')) {
				pullDownEl.className = 'loading view_more lst_loading';
				pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
				pullDownAction();	// Execute custom function (ajax call?)
			} else if (pullUpEl.className.match('flip')) {
				pullUpEl.className = 'loading view_more lst_loading';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';	
				pullUpAction();	// Execute custom function (ajax call?)
			}
		}
	});
}
document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>
</body>
</html>