<!doctype html>
<html lang="ch">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>席位</title>
<link rel="stylesheet" href="../data/css/base.css" type="text/css">
<link rel="stylesheet" href="../data/css/public.css" type="text/css">
</head>
<body class="body-bg">
<!--top-->
<script language="javascript" src="../data/js/header.js" id="headerScript" data-args="headername=我的席位&headerbackurl=index.html"></script>
<!--top over-->
<div class="clear main_tit">
	<div class="size-xxxxl"><strong>27</strong><span class="size-s marg_lef_1em">桌</span></div>
    <div class="clear">
    	<div class="fl_left">公司：杉德巍康</div>
        <div class="s_tab fl_right"><a href="map.html">座位图</a></div>
    </div>
</div>
<div class="clear">
	<div class="global-tit-trans"></div>
    <div class="global-titleb">同桌的旁友</div>
</div>
<div class="global-navb height_whole">
    <ul>
    	<li>潘晓龙</li>
        <li>肖云</li>
        <li>朱伟丽</li>
        <li>周漫</li>
        <li>穆建义</li>
        <li>周辉</li>
        <li>王爱云</li>
        <li>张健</li>
        <li>张超</li>
        <li>邹德帝</li>
    </ul>
</div>
<!--footer-->
<script language="javascript" src="../data/js/footer.js" id="footerScript" data-args="selecttype=activity"></script>
<!--footer 结束-->
<script src="../data/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../data/js/base.js"></script>
<script type="text/javascript" src="../data/js/service.js"></script>
</body>
</html>