<!doctype html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>杉德年会-交通</title>
	<link rel="stylesheet" href="../data/css/base.css" type="text/css">
	<link rel="stylesheet" href="../data/css/public.css" type="text/css">
</head>
<body class="body-bg">
<!--top-->
<script language="javascript" src="../data/js/header.js" id="headerScript" data-args="headername=交通&headerbackurl=index.html"></script>
<!--top over-->
<div class="clear main_tit">
	<div class="size-xxl">光大会展中心<!--<span class="size-s marg_lef_1em">桌</span>--></div>
    <div class="clear">
    	<div class="fl_left">漕宝路88号</div>
    </div>
</div>
<div class="clear">
	<div class="global-tit-trans"></div>
    <div class="global-titleb">公交/地铁</div>
</div>
<div class="global-navb height_whole traffic-bg">
	<ul>
    	<li>43、92、92B、120、166、186、809、946、</li>
        <li>上佘专线、沪松专线、轨交一号线</li>
    </ul>
</div>
<!--<div class="global-navb">
	<h2 class="global-titleb">光大会展中心</h2>
    <ul class="traffic-text">
    	<li>地址：漕宝路88号</li>
        <li>交通：43、92、92B、120、166、186、809、946、上佘专线、沪松专线、轨交一号线</li>
        <li style="background:url(../data/images/map.jpg) no-repeat 0 0; background-size:cover; height:373px; margin-left:0px;"></li>
    </ul>
</div>-->
<!--footer-->
<script language="javascript" src="../data/js/footer.js" id="footerScript" data-args="selecttype=activity"></script>
<!--footer over-->
<script src="../data/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../data/js/base.js"></script>
<script type="text/javascript" src="../data/js/service.js"></script>
</body>
</html>